/*
    basic text styles
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f7;
}

h1{
    color: #548654;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 0 0 0.5em 0;
    line-height: 1.2em;
    clear: left;
}
h2 {
    color: #847135;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 0.7em 0 0.2em 0;
    line-height: 1.2em;
}
h3{
    color: #82732D;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.15em 0;
    font-size: 0.9em;
    line-height: 1.2em;
}
h4{
    color: #000;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    padding: 0.4em 0 0 0;
}
h5{
    color: #000;
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0.4em 0 0 0;
}
h6{
    color: #000;
    font-size: 0.70em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

a:link, a:visited, a:hover {
    color: #497A49;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}

p, ul, ol {
    /* ERH */
/*    font-size: 0.9em; */
    line-height: 1.5em;
    padding: .5em 0;
}



ul {
    list-style: disc;
    margin-left: 20px;
}

ol {
    list-style: decimal;
    margin-left: 20px;
}

ul ul, ul ol, ol ol, ol ul {
    font-size: 1em;
}
li {
    padding: 2px 0;
}

blockquote{
    padding: 0 1.5em 0 1.5em;
    line-height: 1.25em;
}


/*
    layout
*/

#body_header, #body_main, #body_footer{
    height: auto;
    overflow: hidden;
}

/* start CABS header styles *************************************/

#body_header{
    min-height: 90px;
    height: 90px;
    height: auto !important;
}

#CABS-header {
    height: 50px!important;
	background: transparent;
}

#CABS-header img {
	position: relative;
}



#CABS-header-sitename {
	height: 40px;
	background: #17453b;	
}

.CABS-print-only {
	display: none;
}

/* end CABS header styles *************************************/


.window{
    width: 900px;
    height: auto;
    margin: 0 auto;
    /* ERH: change this is allow content to go beyond "right side" */
    /*padding: 0 21px;*/
    /*padding: 0px 200px;*/
    padding: 0px 100px;
    overflow: hidden;
}

#site_logo{
    display: block;
    height: 115px;
}

    

#body_main{
    margin-top: 1.5em;
    padding-bottom: 15px;
}

#navigation{
    float: left;
    /*width: 11.75em;*/
    width: 12.25em;
}

.left-callout {
    color:#2D3C2D;
    font-size: .9em;
    margin: 1.5em 0 0 0;
    
}

.breadcrumbs {
    float: left;
    padding: 0 0 3px 0;
    width: 26em;
}

#single-column .breadcrumbs {
    width: 47.75em;
}

#content{
    float: left;
    /* ERH: was: width: 26em; */
    /*width: 40em;*/ /* ERH: now */
    width: 38em; /* ERH: now */
    padding: .469em 2em 2em 2em;
    /*min-height: 40em;*/
    min-height: 0em;
}

#content.wide{
    width: 47em;
}

#single-column #content {
    width: 47.75em !important;
    padding: .469em 2em 2em 0 !important;
}

#callout-container { width: 12.5em; float: left; }

.callout{
    float: left;
    width: 12.50em;
    background: #EAEDE6;
    margin-bottom: 15px;
    margin-top: 12px;
    padding: 1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
    .callout h2:first-child {
        padding-top: 0;
    }
.callout-nobackground{
    float: left;
    width: 12.50em;
    background: transparent;
    padding: 1em 0;
}

#body_footer .window{
    
    display: block;
    
}
#CABS-footer {
    height: 80px!important;
	position: relative!important;
	font-family: Arial, hevlvetica, sans-serif!important;	
	min-width: 660px;
}

#CABS-footer img {
	position: relative;
	float: left;
}

#CABS-footer-links {
	float: left;
	position: absolute;
	top: 20px;
	left: 217px;
	font-size: 12px;
}

#CABS-footer-links a {
	border-right: 1px solid;
	color: inherit;
	padding-right: 6px;
	padding-left: 6px;
}

#CABS-footer-links a:first-child {
	padding-left: 0px;
}

#CABS-footer-links a:last-child {
	border-right: none;
}

#CABS-footer-text {
	font-size: 9.5px;
	float: left;
	position: absolute;
	bottom: 20px;
	left: 217px;
}

#CABS-footer-text a {
	color: inherit;
}

.CABS-green-text {
	color: #18453b!important;
}
#utility ul{
    margin: 0 !important;
}

#utility ul li{ 
    display: inline;
    padding: 0 0.5em 0 0;
    border-right: 1px solid #686964;
}
.last{
    border-right: none !important;
}

.callout h2:first-child {
    padding-top: 0;
}


.callout p, .callout ul, .callout ol, .callout blockquote {
    margin: 0 0 1em 0;
    font-size: 0.9em;
    color: #2d3c2d;
}
    .callout li {
    
    }
    
    .callout a, .callout a:visited{
        color: #539753;
    }
    
.callout ul{
    list-style-type: disc;
}
.callout ol, .callout ul{ 
    margin-left: 1em;
}
.callout .caption{
    font-size: 0.8em;
    line-height: 1.1em;
}



/*
    navigation
*/


#navigation ul{
    /*font-size: .8em;*/
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
    
    #navigation ul li a{
        display: block;
        color: #81814B;
        padding: 0.469em 0 0.469em 0;
        text-decoration: none;
    }
    #navigation ul li a:hover{
        text-decoration: underline;
        color: #0C261F;
    }
    
    #navigation ul ul {
        font-size: 1em;
    }
    
    #navigation ul li ul{
        padding-left: 1.5em;        
    }
    #navigation ul li ul li a{
        display: block;
        color: #81814B;
        font-weight: normal;
    }



/*
    global/contextual styles
*/

.hide{
    position: absolute;
    left: -9999px;
}
.clear{
    clear: both;
}

.image-right{
    position: relative;
    float: right;
    margin: 0 0 2em 2em;
}
.image-left{
    position: relative;
    float: left;
    margin: 0 2em 2em 0em;
}

.multi-image-list{
    line-height:normal;
    margin:0;
    padding:0;
}
#content .multi-image-list ul{
    float:left;
    margin: 1.25em 1.875em 0 0;
    padding:0;
}
#content .multi-image-list li{
    list-style-type:none;
    margin: 0.31em 0;
    width: 150px;
    font-size: 0.625em;
}
#content .multi-image-list img{
    border: none;
    list-style-type: none;
}
.super{
    font-size: smaller;
    vertical-align: super;
    line-height: 1em;
}


.banner{
    display: none;
}

.banner_gradient {
        background: transparent url(../images/banner-gradient.png) top repeat-x;
        display: block;
        height: 28px;
        width: 100%;
    }

.pages{
    padding: 1em 0 1em 220px;
    font-weight: bold;
    margin: 1em 0 1em 0;
}
.pages a.page{
    padding: 1em 0.5em 1em 0.5em;
    margin: 0 0.5em 0 0.5em;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-decoration: none;
}
.pages a.page:hover{
    background: #EAEDE6;
    border: 1px solid black;
}


/*Contact form styles*/
p.error{
    color: red;
    font-weight: bold;
}
fieldset{
    border: 1px solid black;
}
legend{
    font-weight: bold;
}



/*Navigation Update CSS*/
.open{
    color: black !important;
}

/*
    social media things
*/

.social{
    background: #EAEDE6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #515450;
    width: 22em;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 0 1em 0;
}
#navigation .social ul{
    margin: 0 !important;
    padding: 0 !important;
}
#navigation  .social ul li{
    display: inline;
    padding-right: 1em;
    font-size: 0.8em !important;
}
#navigation  .social ul li img{
    vertical-align: middle;
}
ul.left-social{
    
}
#navigation ul.left-social h2{
    color: #AA975A;
    font-weight: bold;
    font-size: 0.875em;
    margin: 0 0 1em 0;
}
#navigation ul.left-social li{
    width: 32px;
    float: left;
    padding: 0 5px 0 5px;
}

.breadcrumbs {
}   

    .breadcrumbs p {
        color: #555;
        font-size: 0.8em;
        padding: 0;
    }

.breadcrumbs ul {
list-style: none;
margin: 0 0 10px;
padding: 0;
}
.breadcrumbs ul li {
display: inline;
padding-right: 0px;
}

.staff-photo {
    float: left;
    margin: 0 12px 12px 0;
}



.row-header {
    color: #686964;
}


.news-index-date {
    font-size: .8em;
    color: #A6A666;
    
}

.news-staff-table tr td{
    padding: 4px 12px 4px 0;
    border-bottom: 1px solid #E6E6E6;
}

.news-staff-table {
    width: 100%;
}

.news-staff-table {
    width: 100%;
}

.staff-table {
    width: 100%;
    border-collapse: collapse;  
    border-bottom:  2px solid #e1e5e5;
}

.staff-table th {
    color: #fff;
    background: #345750; /*#52844f*/
}

.staff-table th, .staff-table td {
    padding: 0.31em;
    font-weight: normal;
    font-size: 0.9em;
    border: 1px solid #f9f9f7;
}

.staff-table td.staff-name{
    width: 10.0em;
}

.staff-title:first-letter {
    text-transform: capitalize;
}


.staff-table td.staff-phone {
    width: 6.88em;
}

.staff-table td.staff-email {
    width: 9.38em;
    text-transform: lowercase;
}

/* Custom styles */


#content div.footnotes {
    margin: 1em 0 0 0;
    padding: 1em 0 .5em 0;
    border-top: 1px solid #ccc;
}

#content div.footnotes p {
    font-size: .8em;
}

sup {
    vertical-align: baseline;
    font-size: 0.8em;
    position: relative;
    top: -0.4em;
}

sub {
    vertical-align: baseline;
    font-size: 0.8em;
    position: relative;
    top: 0.4em;
}

div#pageContent dl {
    padding: .5em 0 1em;
    
}

dl {
        line-height: 1.5em;
}

dt { 
    margin: 1em 0 0 0;
    font-size: .9em;
    font-weight: bold;
} 

dd { 
    margin: .3em 1.5em .6em 1.5em;
    font-size: .9em;
}


span.masthead-badge {
    margin-left: 60px;
}