<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="Head" th:remove="tag">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/default.css}"/>
    <link rel="stylesheet" type="text/css" media="print" th:href="@{/resources/css/print.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/taper_0.01.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/mine.css}"/>
    <link rel="SHORTCUT ICON" th:href="@{/resources/images/favicon.ico}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.11.3.min.js}"></script> 
    <script type="text/javascript" th:src="@{/resources/js/HandleBannerAndLoad.js}"></script> 
  </div>
</html>
